html {
  height: 100%;
}

body {
  font-family: "Inconsolata";
  font-size: 1em;
  text-align: center;
  line-height: 180%;
}

h1,
h3,
h5 {
  margin: 0;
  font-weight: normal;
}

:root {
  --primary-color: #01a2ff;
  --primary-light: #daf1ff;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

.red {
  color: red;
}

.space-bottom-20 {
  margin-bottom: 20px;
}

.space-bottom-60 {
  margin-bottom: 60px;
}

.space-top-20 {
  margin-top: 20px;
}

.space-top-40 {
  margin-top: 40px;
}

.space-bottom-80 {
  margin-bottom: 80px;
}

.text-center {
  text-align: center;
}

.code {
  width: 90%;
  text-align: left;
  max-width: 600px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 10px 20px;
  list-style: none;
  background: #141414;
  color: #45d40c;
  font: 0.8em "Andale Mono", Consolas, "Courier New";
  line-height: 1.6em;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  word-wrap: break-word;
  position: relative;
  z-index: -1;
}

::-webkit-scrollbar {
  display: none;
}

#navigation {
  position: fixed;
  padding: 20px 0 10px;
  flex-direction: column;
  z-index: 2;
  border-bottom: solid 2px rgb(206, 210, 207);
  left: 0;
  top: 0;
  background-color: #fff;
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: center;
}

.sections-container {
  margin-top: 300px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  position: relative;
  max-width: 700px;
  text-align: left;
}

.calendly-badge-content span {
  display: none !important;
}

.section {
  width: 0;
  display: flex;
  position: absolute;
  opacity: 0;
  transition: none;
  overflow: hidden;
}

.section.active {
  opacity: 1;
  width: auto;
  transition: opacity 0.3s ease-in;
  position: relative;
  flex-direction: column;
}

.section-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.section-button {
  cursor: pointer;
  padding: 0 15px;
  border: 1px solid;
  margin: 5px;
  background-color: #fff;
  transition: background-color 1s;
  font-size: 0.8em;
}
.section-button:hover {
  background-color: var(--primary-light);
}
.section-button.active:hover {
  cursor: not-allowed;
  background-color: #fff;
}

@media screen and (min-width: 425px) {
  .section-button {
    font-size: 1.2em;
  }
}

.profile-image {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.personal-description {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 320px) {
  html {
    font-size: calc(20px + 6 * ((100vw - 320px) / 680));
  }
}

@media screen and (min-width: 1000px) {
  html {
    font-size: 24px;
  }
  .sections-container {
    width: calc(100% - 380px);
  }
  .profile-image {
    margin-right: 20px;
  }
  .personal-description {
    flex-direction: row;
    align-items: end;
  }
  .personal-description .code {
    margin-top: 0;
  }
}
