html {
  height: 100%;
}

body {
  font-family: "Inconsolata";
  font-size: 1em;
  text-align: center;
  line-height: 150%;
}

h1,
h3,
h5 {
  margin: 0;
}

h1 {
  margin-bottom: 10px;
}

.space {
  width: 100%;
  height: 5%;
}

.italic {
  font-style: italic;
}

.red {
  color: red;
}

.wikiDiv {
  margin: 100px 0 0;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.space-bottom-20 {
  margin-bottom: 20px;
}

.space-bottom-60 {
  margin-bottom: 60px;
}

.space-top-20 {
  margin-top: 20px;
}

.space-top-40 {
  margin-top: 40px;
}

.text-center {
  text-align: center;
}

.code {
  width: 600px;
  margin: 100px auto 0 auto;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin: 0;
  padding: 5px;
  list-style: none;
  background: #141414;
  color: #45d40c;
  font: 0.8em "Andale Mono", Consolas, "Courier New";
  line-height: 1.6em;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  word-wrap: break-word;
  position: relative;
  padding: 0 0 0 15px;
  z-index: -1;
}

strong:hover span {
  opacity: 1;
}

/* new */
::-webkit-scrollbar {
  display: none;
}
header {
  background: rgb(127, 179, 130);
}
.navbar-title-container {
  z-index: 2;
  border-bottom: solid 2px rgb(206, 210, 207);
  position: sticky;
  flex-direction: column;
  left: 0;
  top: 0;
  background-color: #fff;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 10px 0 15px 0;
}

.moving-title-space {
  height: 100px;
  width: 100%;
}

.moving-title {
  position: absolute;
  cursor: pointer;
  width: 300px;
  top: -60px;
  left: 0;
  right: 0;
  z-index: 3;
  background-color: #fff;
}

.menu {
  z-index: 2;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
  min-width: 140px;
  width: 10%;
  border-right: solid 2px rgb(206, 210, 207);
  border-bottom: solid 2px rgb(206, 210, 207);
  position: absolute;
  left: -180px;
  top: 100%;
  height: 250px;
  background-color: #fff;
  font-family: Lobster;
  padding-top: 30px;
}

.sections-container {
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 1500px;
}

.menu_item {
  width: 100%;
  height: 40px;
  background-color: #fff;
  padding: 20px 0;
  cursor: pointer;
  transition-duration: 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.active {
  background-color: rgb(134, 219, 227) !important;
}
.menu_item:hover {
  background-color: rgb(208, 229, 235);
  width: 120%;
}
.menu_item:active {
  background-color: rgb(228, 231, 224);
}

@media screen and (min-width: 320px) {
  html {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
  .menu {
    display: none;
  }
}
@media screen and (min-width: 1000px) {
  html {
    font-size: 22px;
  }
  .menu {
    display: block;
  }
}
