html{
  height: 100%;
}

body{
  font-family: 'Inconsolata';
  text-align: center;
  line-height: 150%;
  height: 100%;
}

h1{
  font-family: 'Lobster';
  margin: 50px 0;
  width: 100%;
  text-align: center;
}

h3{
  margin: 20px 0;
}

.italic {
  font-style: italic;
}

#title{
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #fff;
  z-index: 1;
}

.menu{
  height: 100%;
  width: 250px;
  top:100px;
  padding-right: 15px;
  border-right: solid 2px rgb(206, 210, 207);
  position: fixed;
}

.menu-item{
  width: 100%;
  height: 50px;
  background-color: #fff;
  padding: 20px 0;
  cursor: pointer;
  transition-property: width background-color;
  transition-duration: .5s;
}

.active{
  background-color: rgb(219, 221, 217);
}

.menu-item:hover{
  width: 300px;
}

.menu-item:active{
  background-color: rgb(228, 231, 224);
}

.item{
  position: absolute;
  height: 100%;
  top: 150px;
  left: 350px;
  opacity: 0;
  transition-property: opacity;
  transition-duration: .5s;
  text-align: left;
  margin-right: 15px;
}

.show-item{
  opacity: 1;
}

.tooltip{
  opacity: 0;
  position: absolute;
  font-size: .8em;
  background-color: #fff;
  padding: 7px;
  border: solid 1px rgb(215, 220, 223);
  transition-property: opacity;
  transition-duration: .5s;
}

strong:hover span{
  opacity: 1;
}
