<template>
  <style>
    header{
      background: rgb(127, 179, 130);
    }
    .navbarTitle{
      width: 100%;
      height: 10%;
      border-bottom: solid 2px rgb(206, 210, 207);
      position: fixed;
      left: 0;
      background-color: #fff;
      font-family: Lobster;
    }
    .menu{
      height: 100%;
      width: 20%;
      border-right: solid 2px rgb(206, 210, 207);
      position: fixed;
      background-color: #fff;
      font-family: Lobster;
    }
    .menu_item{
      width: 100%;
      height: 50px;
      background-color: #fff;
      padding: 20px 0;
      cursor: pointer;
      transition-property: width background-color;
      transition-duration: .5s;
    }
    .active{
      background-color: rgb(134, 219, 227) !important;
    }
    .menu_item:hover{
      background-color: rgb(208, 229, 235);
      width: 120%;
    }
    .menu_item:active{
      background-color: rgb(228, 231, 224);
    }
  </style>
  <navbarTitle class="navbarTitle"></navbarTitle>
  <div class="menu">
    <subsections></subsections>
  </div>
</template>

<script>
'use strict'

((window, document, undefined) => {
    var thatDoc = document,
        thisDoc =  (thatDoc._currentScript || thatDoc.currentScript).ownerDocument,
       template = thisDoc.querySelector('template').content,
 MyElementProto = Object.create(HTMLElement.prototype);

  //define MyElementProto
  MyElementProto.createdCallback = function () {
    var shadowRoot = this.createShadowRoot(),
             clone = thatDoc.importNode(template, true);

    shadowRoot.appendChild(clone);

    //initiate elements
    this.navbarTitle = shadowRoot.querySelector('navbarTitle');
    this.navbarSubsections = shadowRoot.querySelector('subsections');

    //set title
    var mytitle = this.getAttribute('title') || 'no title defined';
    this.setTitle(mytitle);

    //set childrens
    var subsections = this.getAttribute('subsections').split(',') || ['no subelements defined'];
    this.setSubsections(subsections);
  };

  MyElementProto.setTitle = function (val) {
    this.mytitle = val;
    let h1 = document.createElement('h1');
    h1.textContent = this.mytitle;
    this.navbarTitle.appendChild(h1);
  };

  MyElementProto.setSubsections = function (val) {
    this.subsections = val;
    Array.prototype.forEach.call(this.subsections, (s) => {
      let div = document.createElement('div');
      div.classList.add('menu_item');

      // listener
      div.addEventListener('click', (e) => {
        // add and remove classes
        let siblings = e.target.parentNode.children;
        Array.prototype.forEach.call(siblings, s => {
          s.classList.remove('active');
        })
        e.target.classList.add('active');
        // scroll
        let elPos = thatDoc.querySelector(`#${e.target.innerHTML.trim()}`);
        let scrollPos = window.pageYOffset + elPos.getBoundingClientRect().top - 150;
        window.scrollTo(0, scrollPos);
      })

      div.textContent = s;
      this.navbarSubsections.appendChild(div);
    })
  };

  window.MyElement = thatDoc.registerElement('nav-bar', {
    prototype: MyElementProto
  });

})(window, document);

</script>
