<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Federico Sordillo - web development consultant</title>
    <link href='../../css/wiki.css' rel='stylesheet' type='text/css'></style>
    <link href='https://fonts.googleapis.com/css?family=Lobster|Inconsolata' rel='stylesheet' type='text/css'>
    <link rel="import" href="common/navbar.html">
  </head>
  <body>
    <nav-bar
      title="Wiki"
      subsections="whoami"
    >
    </nav-bar>

    <div class="space"></div>

    <div id="whoami" class="wikiDiv">
      <h2>whoamI?</h2>
      <p class="code">$ i am me</p>
      <div>
        this is a tooltip example <span class="tooltip">tooltip example</span>
      </div>
      <span class="italic">this is an italic example</span>
    </div>

    <script type="text/javascript">
      document.addEventListener("DOMContentLoaded", (event) => {
        let h = screen.height + window.innerHeight;

        document.body.style.height = `${h}px`;
        document.body.style.background = 'linear-gradient(to bottom, white 30%, rgba(0,0,0,.7)) no-repeat';
        document.body.style.backgroundAttachment = 'fixed';
        document.body.style.margin = 0;
      });
    </script>
  </body>
</html>
